<div class="eval_container">
   <div class="eval_top">
      <div class="eval_top_left">
         <div class="eval_circle two"></div>
         <div class="profile">
            <p>石川勇気/31歳/プログラマ</p>
         </div>
      </div>
      <div class="eval_top_right">
         <div class="eval_title">前期評価</div>
         <div class="eval_value">C</div>
         <div class="eval_title">後期評価</div>
         <div class="eval_value2">未実施</div>
      </div>

   </div>

   <div class="eval_under">
      <table class="eval_table">
         <tr><th>評価種別</th><th>目標</th><th>実績</th></tr>
         <tr><td>能力評価</td><td>すごい頑張る</td><td>ちょっと頑張った</td></tr>
         <tr><td>業績評価</td><td>すごい頑張る</td><td>ちょっと頑張った</td></tr>
         <tr><td>情意評価</td><td>すごい頑張る</td><td>ちょっと頑張った</td></tr>
         </table>
   </div>
</div>