<div class="processContainer">
   <div class="process_leftpain">
      <div class="process_painmenu_top">
         <i class="fas fa-home"></i> トップ
      </div>
      <div class="process_painmenu">
         <i class="fas fa-business-time"></i> 課題
      </div>
      <div class="process_painmenu">
         <i class="fas fa-calendar-alt"></i> スケジュール
      </div>
   </div>
   <div class="process_right">
      <div class="process_top">
         <div class="process_title">
            〇〇株式会社/CMSリニューアル
         </div>
      </div>
      <div class="process_main">
         <div class="process_line">
            <div class="process_circle five">
            </div>
            <div class="process_circle two">
            </div>
            <div class="process_circle seven">
            </div>
            <div class="process_circle eight">
            </div>
         </div>
         <div class="process_upper">
            <div class="process_upper_left">
               <span class="process_span"><i class="fas fa-calendar-alt"></i> 今日の予定</span>
               <p><i class="fas fa-caret-right"></i>テスト仕様書作成</p>
               <p><i class="fas fa-caret-right"></i>定例会</p>
            </div>
            <div class="process_calender" id="calendar"></div>
         </div>
         <div class="process_under">
            <span class="process_span"><i class="fas fa-business-time"></i> 課題</span>
            <p><i class="fas fa-caret-right"></i>トップページバグ修正</p>
            <p><i class="fas fa-caret-right"></i>お客様環境確認</p>
         </div>
      </div>
   </div>
</div>
