<div class="resourceContainer">
   <div class="resource_title">
      <div class="resource_title_detail">
         東武ビジネスソリューション株式会社
      </div>
   </div>
   <div class="hr_stage">
      <%= link_to user_path(1) do %>
         <div class="circle one">
         </div>
      <% end %>   
   </div>

   <div class="hr_stage">
      <div class="hr_stage2">
         <div class="circle two">
         </div>
      </div>

      <div class="hr_stage2">
         <div class="circle three">
         </div>
      </div>
   </div>

   <div class="hr_stage">
      <div class="hr_stage4">
         <div class="circle four">
         </div>
      </div>

      <div class="hr_stage4">
         <div class="circle five">
         </div>
      </div>

      <div class="hr_stage4">
         <div class="circle six">
         </div>
      </div>

      <div class="hr_stage4">
         <div class="circle seven">
         </div>
      </div>
   </div>

   <div class="hr_stage100">
      <div class="team_name">
         イノベーションチーム
      </div> 
      <div class="hr_stage101">
         <div class="circle eight">
         </div>
      </div>   
      <div class="hr_stage101">   
         <div class="circle nine">
         </div>    
      </div>  
      <div class="hr_stage101">   
         <div class="circle ten">
         </div>    
      </div>  

      <div class="hr_stage101">
         <div class="circle one">
         </div>
      </div>   
      <div class="hr_stage101">   
         <div class="circle two">
         </div>    
      </div>  
      <div class="hr_stage101">   
         <div class="circle four">
         </div>    
      </div>  

      <div class="hr_stage101">
         <div class="circle eight">
         </div>
      </div>   
      <div class="hr_stage101">   
         <div class="circle five">
         </div>    
      </div>  
      <div class="hr_stage101">   
         <div class="circle nine">
         </div>   
      </div>  
   </div>

   <div class="hr_stage100">
      <div class="team_name">
         サポートチーム
      </div> 
      <div class="hr_stage101">
         <div class="circle eight">
         </div>
      </div>   
      <div class="hr_stage101">   
         <div class="circle nine">
         </div>    
      </div>  
      <div class="hr_stage101">   
         <div class="circle ten">
         </div>    
      </div>  

      <div class="hr_stage101">
         <div class="circle one">
         </div>
      </div>   
      <div class="hr_stage101">   
         <div class="circle two">
         </div>    
      </div>  
      <div class="hr_stage101">   
         <div class="circle four">
         </div>    
      </div>  

      <div class="hr_stage101">
         <div class="circle eight">
         </div>
      </div>   
      <div class="hr_stage101">   
         <div class="circle five">
         </div>    
      </div>  
      <div class="hr_stage101">   
         <div class="circle nine">
         </div>    
      </div>  
   </div>

   <div class="hr_stage100">
      <div class="team_name">
         事業推進チーム
      </div> 
      <div class="hr_stage101">
         <div class="circle eight">
         </div>
      </div>   
      <div class="hr_stage101">   
         <div class="circle nine">
         </div>    
      </div>  
      <div class="hr_stage101">   
         <div class="circle ten">
         </div>    
      </div>  

      <div class="hr_stage101">
         <div class="circle one">
         </div>
      </div>   
      <div class="hr_stage101">   
         <div class="circle two">
         </div>    
      </div>  
      <div class="hr_stage101">   
         <div class="circle four">
         </div>    
      </div>  

      <div class="hr_stage101">
         <div class="circle eight">
         </div>
      </div>   
      <div class="hr_stage101">   
         <div class="circle five">
         </div>    
      </div>  
      <div class="hr_stage101">   
         <div class="circle nine">
         </div>    
      </div>  
   </div>

   <div class="hr_stage100">
      <div class="team_name">
         新規開拓チーム
      </div> 
      <div class="hr_stage101">
         <div class="circle eight">
         </div>
      </div>   
      <div class="hr_stage101">   
         <div class="circle nine">
         </div>    
      </div>  
      <div class="hr_stage101">   
         <div class="circle ten">
         </div>    
      </div>  

      <div class="hr_stage101">
         <div class="circle one">
         </div>
      </div>   
      <div class="hr_stage101">   
         <div class="circle two">
         </div>    
      </div>  
      <div class="hr_stage101">   
         <div class="circle four">
         </div>    
      </div>  

      <div class="hr_stage101">
         <div class="circle eight">
         </div>
      </div>   
      <div class="hr_stage101">   
         <div class="circle five">
         </div>    
      </div>  
      <div class="hr_stage101">   
         <div class="circle nine">
         </div>    
      </div>  
   </div>

      


</div>