<header>
      <span><%= link_to "growth", root_path, {class: "logo"} %></span>
      <!-- <nav>
         <ul>
            <li>Home</li>
            <li>user</li>
            <li>setting</li>
         </ul>
      </nav> -->
</header>